// Color's =====>
$color-white: #ffffff;
$color-black: #000000;
$color-background: $color-white;
$color-background-dark: #0E0E0E;
$color-title: #0E0E0E;
$color-border: #BCBEC0;

// Transition's =====>
$transition-normal: all 0.3s ease-in-out;

// Font family =====>
$font-RF-Dewi-Extended: 'RF Dewi Extended', sans-serif;
$font-RF-Dewi-Expanded: 'RF Dewi Expanded', sans-serif;

// Font size =====>
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 2rem;
$text-4xl: 3rem;
$text-5xl: 4.5rem;
$text-6xl: 5.625rem;